.card-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
}

.open {
    padding: 6px 0;
    display: flex;
    justify-content: center;
    height: 300px;
}


.closed {
    height: 0%;
}

@media (max-width: 768px) {
    .open {
        height: 80%;
    }
}