.content {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.836);
    font-family: 'Orbitron', sans-serif;
}

.content > .temperature {
    font-weight: 900;
    font-size: 7em;
}

.temperature:hover {
    font-size: 8em;
    transition: font-size 0.5s;
}

.content > span {
    display: block;
}