.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 230, 230, 0.733);
  height: 100vh;
  margin: 0 auto;
  overflow: auto;
  max-width: 1920px;
}